<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167705287378-cpfnjkn9jbc1infqu8us31klcrp5696a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167705287378-cpfnjkn9jbc1infqu8us31klcrp5696a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167705287378-m6b0har8tj9ou16l8jpbvrlgnhstmuik.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZECcBYEe0P8dQdIbXyKdlIgmV97F4xfU</string>
	<key>GCM_SENDER_ID</key>
	<string>167705287378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managemeApp</string>
	<key>PROJECT_ID</key>
	<string>bmsdata-b4ded</string>
	<key>STORAGE_BUCKET</key>
	<string>bmsdata-b4ded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167705287378:ios:be2bad4da119976d</string>
	<key>DATABASE_URL</key>
	<string>https://bmsdata-b4ded.firebaseio.com</string>
</dict>
</plist>